<h1>Password Reset</h1>

<p>
  <%= "#{@greeting}, #{@user.name}!" %>, follow the link below to begin resetting your password:
</p>

<%= link_to "Reset password", edit_password_reset_url(@user.password_reset_token,
                                                      email: @user.email) %>
